<application-config xmlns="aurora.application" enableBMTrace="true">
	<application-view-config defaultPackage="ui.template" defaultTheme="hls" defaultAutoAdjustGrid="false" defaultclientresize="false" defaultTemplate="default" defaultTitle="国任财险(UAT)费用管控系统" resourceCachename="SystemResourceConfig"/>
</application-config>